version: "3.9"

services:
  engine:
    build:
      context: .
      dockerfile: services/engine/engine/Dockerfile
    ports:
      - "50051:50051"

  gateway:
    build:
      context: .
      dockerfile: services/gateway/Dockerfile
    environment:
      ENABLE_ORDERS: "true"
      ENGINE_GRPC_ADDR: "engine:50051"
    ports:
      - "8080:8080"
    depends_on:
      - engine

  ui:
    build:
      context: ./services/ui
    environment:
      NEXT_PUBLIC_GATEWAY_URL: "http://localhost:8080"
    ports:
      - "3000:3000"
    depends_on:
      - gateway
